<nav class="pv3 ph3 ph4-ns" role="navigation">
  <div class="flex-l justify-between items-center center">
    <a href="{{ .Site.BaseURL }}" class="f3 fw2 hover-white no-underline white-90 dib">
      {{ .Site.Title }}
    </a>
    <div class="flex-l items-center">
      {{ partial "i18nlist.html" . }}
      {{ if .Site.Menus.main }}
        <ul class="pl0 mr3">
          {{ range .Site.Menus.main }}
          {{ end }}
        </ul>
      {{ end }}

      <ul class="pl0 mr3" style="color: white">
          <a style="text-decoration: none; color: white" href="https://md.opssec.in/winapi/init.html">win32 api</a>
      </ul >
      {{ partialCached "social-follow.html" . }}
    </div>
  </div>
</nav>
